body {
  margin: 0;
  background-color:#FFFFFF;
  display: block;
  min-width: 100%;
}

nav {
  background-color: #FFFFFF;
  position: fixed;
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(233, 233, 233);
  padding: 5px;
}

h1 {
  width: 70%;
  left: auto;
  text-align: left;
  font-style: italic;
  font-size: 35px;
  font-family: 'Train One', cursive;;
}

hr {
  border-top: 1px solid darkgray;
  opacity: 0.3;
}

section {
  margin: auto;
  text-align: center;
}

img {
  margin: auto;
  max-width: 100%;
}

figure {
  margin: 15px auto;
  width: 72%;
}

figcaption {
  margin: left;
  text-align: left;
  width: 90%;
}

article {
  width: 30%;
  margin: auto;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}

a {
  font: 14px 'Libre Franklin', sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgb(167, 167, 167);
}

#right-footer-container {
  display: flex;
  position: relative;
  float: right;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  padding-right: 5%;
}

#middle-footer-container {
  font: 24px 'ChomskyRegular';
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

#left-footer-container {
  display: flex;
  position: relative;
  float: left;
  width: 14%;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5%;
}

#hamburguer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hamburger {
  margin-top: 50%;
  height: 20px;
  width: 20px;
  display: block;
  justify-content: center;
  align-items: center;
}

.main {
  padding-top: 50px;
}

.spacecosmos {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.spacecosmos:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title-icons {
  width: 39%;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.stick {
  background-color: black;
  height: 2px;
  width: 15px;
  margin: 2px 1px 2px 1px;
}

.blue-button {
  border: 1px solid rgb(49, 74, 105);
  border-radius: 2px;
  display: inline-block;
  padding: 4% 5%;
  background-color: rgb(88, 122, 167);
  color: antiquewhite;
  font: 11px Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.icons {
  font-size: 14px;
  display: flex;
  justify-content: left;
}

.icons > i {
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  margin: 10px;
  width: 20px;
  height: 18px;
  background-color: rgb(231, 230, 230);
  padding: 5px 2px 2px 2px;
}

.caption {
  font: 14px Arial;
  color: grey;
}

.rick {
  font: 12px Arial;
  color: rgb(150, 150, 150);
}

.author {
  text-align: left;
  line-height: 200%;
  padding: 30px 0px;
}

.name {
  font: 14px 'Libre Franklin', sans-serif;
  font-weight: bold;
}

.date {
  font: 14px Verdana;
}

.science {
  font: 12px 'Libre Franklin', sans-serif;
  font-weight: bold;
}

.stories {
  font: 14px 'Libre Franklin', sans-serif;
  font-style: italic;
  color: rgb(75, 75, 75)
}

.signup {
  display: flex;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
}

.signupbtn {
  border: 1px solid black;
  border-radius: 2px;
  width: 105px;
  height: 20px;
  margin: 5px;
  text-align: center;
  vertical-align: text-top;
  padding: 4px;
  font: 15px 'Libre Franklin', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.thanks {
  font: 14px 'Libre Franklin', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

.thanks > a {
  color: #32689B;
}

.thanks > hr {
  margin: 15px auto;
  width: 15%;
}

.inflation {
  display: block;
  width: 70%;
  position: relative;
  margin: auto;
  padding: 10px;
}

.inflation-header {
  display: block;
}

.inflation-header > h1 {
  text-align: left;
  font: 18px 'Libre Franklin', sans-serif;
  font-weight: bold;
  margin: auto;
  margin-bottom: 4px;
  width: 72%;
}

.inflation-header > p {
  text-align: left;
  font-size: 14px;
  color: rgb(122, 122, 122);
  margin: auto;
  width: 72%;
}

.inflation-text {
  opacity: 0.8;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 150px;
  padding: 5px;
  position: absolute;
  width: 71%;
  left: 14%;
  bottom: 2%;
}

.info {
  font: 12px 'Raleway', sans-serif;
  text-align: left;
  padding: 3px;
}

.key-word {
  font-weight: bold;
  font-size: 10px;
  margin: 1px;
}

.inflation-foot {
  margin: auto;
  margin-bottom: 50px;
  font-size: 14px;
  text-align: left;
  width: 50%;
}

.inflation-foot > hr {
  display: flex;
  width: 10%;
  color: black;
  opacity: 1;
  margin-left: 0;
  margin-right: auto;
}

.paragraph-link {
  text-decoration: none;
  color: #32689B;
  font-size: 18px;
}

.video {
  margin: auto;
}

.video > iframe {
  margin: auto;
}

.cosmos-img {
  width: 40%;
  height: 40%;
}